amqp==5.3.1
argcomplete==3.6.2
asgiref==3.8.1
astroid==3.3.10
attrs==25.3.0
bandit==1.8.3
billiard==4.2.1
celery==5.5.2
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.0
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
commitizen==4.8.0
decli==0.6.2
dill==0.4.0
distlib==0.3.9
Django==4.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
filelock==3.18.0
flake8==6.1.0
flake8-bugbear==24.12.12
flake8-django==1.2
gunicorn==23.0.0
identify==2.6.10
isort==6.0.1
Jinja2==3.1.6
kombu==5.5.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.15.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pbr==6.1.1
platformdirs==4.3.8
pre_commit==4.2.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.19.1
PyJWT==2.9.0
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
questionary==2.1.0
redis==6.1.0
rich==14.0.0
setuptools==80.8.0
six==1.17.0
sqlparse==0.5.3
stevedore==5.4.1
termcolor==2.5.0
tomlkit==0.13.2
typing_extensions==4.13.2
tzdata==2025.2
vine==5.1.0
virtualenv==20.31.2
wcwidth==0.2.13
